#root {
  width:100%;
  
}

#title {
  margin-left: 30%;
}

#p-contrast {
  margin-left: -1%;
  margin-right: 1%;
}

#header {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

#contrast {
  width: 50%;
  margin-left: 41%;
}

/* Theme sáng (tắt) */
.contrast-light {
  background-color: #ffffff !important;
  color: #000000 !important;
  transition: all 0.4s ease;
  padding:3%
}

/* Theme tối (bật) */
.contrast-dark {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  transition: all 0.4s ease;
  padding:3%
}

.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 28px;
  margin: 10px 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #aaa;
  transition: .4s;
  border-radius: 20px;
}

/* Nút tròn */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

/* Khi bật (tối) */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
